{% extends 'base.html' %}

{% block title %}Reset Password{% endblock title %}

{% block content %}
    <h1>Reset your password</h1>
    {% if validlink %}
        <p>Please enter your new password below:</p>
        <form method='POST'>
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type='submit' value='Change my password'><p>
        </form>
    {% else %}
        <p>This password reset link is invalid. Please request a new password reset.</p>
    {% endif %}
{% endblock content %}