{% extends 'base.html' %}

{% block title %}Sustainable Development Goal #11{% endblock title %}


{% block content %}

  <!-- service section -->

  <section class="service_section layout_padding ">
    <div class="container">
      <h2 class="custom_heading">Sustainable Goal number 11 (SDG #11)</h2>
      <p class="custom_heading-text">
        Make cities and human settlements inclusive, safe, resilient and sustainable.
      </p>
      <div class=" layout_padding2">
        <div class="card-deck">
          <div class="card">
            <img class="card-img-top" src="images/Sustainable_Development_Goal11.png" alt="Card image cap" />
            <div class="card-body">
              <h5 class="card-title">Sustainable Transport</h5>
              <p class="card-text">
               At the 2002 World Summit on Sustainable Development, the role of transport was captured in the outcome document - the Johannesburg Plan of Implementation (JPOI). JPOI provided multiple anchor points for sustainable transport, in the context of infrastructure, public transport systems, goods delivery networks, affordability, efficiency and convenience of transportation,<b> as well as improving urban air quality and health, and reduce greenhouse gas emissions. </b>
              </p>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="images/car_leaf_smoke.png" alt="Card image cap" />
            <div class="card-body">
              <h5 class="card-title">Why Should We Care?</h5>
              <p class="card-text">
               Close to a quarter of energy-related global greenhouse gas emissions come from transport and that these emissions are projected to grow substantially in the years to come.
              </p>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="images/logo.png" alt="Card image cap" />
            <div class="card-body">
              <h5 class="card-title">How does Sustainable Maps help </h5>
              <p class="card-text">
                By utilizing Sustainable Maps, users can determine a travel path that releases the least amount of carbon emissions, enabling them to carefully moniter their carbon footprint.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <a href="https://sdgs.un.org/topics/sustainable-transport" class="custom_dark-btn">
          Read More about SDG #11
        </a>
      </div>
    </div>
  </section>

  <!-- end service section -->

{% endblock content %}